html {
    font-size: 10px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial;
}

.signup {
    width: 750px;
    max-width: 750px;
    margin: 0 auto;
}

#signup {
    margin-top: 100px;
    padding: 15px 25px 25px;
    background: #fff;
    box-shadow:
            0 0 0 5px rgba( 255,255,255,0.4 ),
            0 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

#signup .header {
    margin-bottom: 20px;
}

#signup .header h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#signup .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

#signup .sep {
    height: 1px;
    background: #e8e8e8;
    width: 750px;
    margin: 0 -25px;
}

#signup .inputs {
    margin-top: 25px;
}

#signup .inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

input:-moz-placeholder {
    color:    #b5b5b5;
}

#signup .inputs input[type=name] {
    background: #f5f5f5;
    font-size: 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 700px;
    margin-bottom: 20px;
    box-shadow: inset 0 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

#signup .inputs textarea[type=description] {
    background: #f5f5f5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 700px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

#signup .inputs #submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    background: -moz-linear-gradient(
            top,
            #b9c5dd 0%,
            #a4b0cb);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#b9c5dd),
            to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
            0 5px 5px rgba(000,000,000,0.1),
            inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:
            0 5px 5px rgba(000,000,000,0.1),
            inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:
            0 5px 5px rgba(000,000,000,0.1),
            inset 0 1px 0 rgba(255,255,255,0.5);
    text-shadow:
            0 1px 3px rgba(000,000,000,0.3),
            0 0 0 rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

#signup .inputs #submit:hover {
    background: -moz-linear-gradient(
            top,
            #a4b0cb 0%,
            #b9c5dd);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#a4b0cb),
            to(#b9c5dd));
}

.comments-area {
    max-width: 100%;
}

.comments-area .comments-title {
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    color: rgb(40, 24, 24);
}

.comments-area .comment-list {
    max-width: 100%;
    min-height: 15rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.comments-area .comment-list .comment {
    width: 80%;
    margin: 2rem auto 2rem;
}

.comments-area .comment-list .comment .comment-body {
    border-radius: 1rem;
    background: rgba(255, 162, 153, 0.3);
    padding: 2rem;
}

.comments-area .comment-list .comment .comment-body .comment-meta .comment-author {
    display: flex;
}

.comments-area .comment-list .comment .comment-body .comment-meta .comment-author b {
    padding: 0 1rem;
}

.comments-area .comment-list .comment .comment-body .comment-meta .comment-author b a {
    text-decoration: none;
    color: #717171;
    font-size: 2rem;
}

.comments-area .comment-list .comment .comment-body .comment-meta .says {
    display: none;
}

.comments-area .comment-list .comment .comment-body .comment-meta .comment-metadata {
    margin-left: 3.7rem;
}

.comments-area .comment-list .comment .comment-body .comment-meta .comment-metadata a {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.6);
}

.comments-area .comment-list .comment .comment-body .comment-meta {
    margin-left: 3.7rem;
    margin-top: 1rem;
}

.comments-area .comment-list .comment .comment-body .comment-content p {
    margin-left: 3.7rem;
    font-size: 1.6rem;
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.7);
}

.comments-area .comment-list .comment .comment-body .comment-content a {
    color: rgba(0, 0, 0, 0.7);
}

.comments-area .comment-list .comment .comment-body .reply {
    margin-left: 3.7rem;
}

.comments-area .comment-list .comment .comment-body .reply a {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.7);
}

.comments-area .comment-list .children {
    list-style-type: none;
}
